.example {
  background-color: $bg-lightgrey;
  padding: 20px 35px;
  height: 667px; //временно
}

.example__title {
  @include title;
}

.example__text {
  @include fonts-index;
}

.example__result {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 12px;
  text-transform: none;
  font-weight: 400;
}

.example__result--all {
  @include catalog-adds;
}

.example__cost {
  font-size: 14px;
  line-height: 20px;
  text-transform: none;
  font-weight: 400;
  color: #111111;
}

.example__range {
  @include catalog-title;
}

@media (min-width: $tablet-width) {
  .example {
    background-color: #ffffff;
    border-top: 1px solid $bg-lightgrey;
    height: 995px;
  }
}

@media (min-width: $desktop-width) {
  .example {
    height: 645px;
  }
}
