.footer__wrapper {
  background-color: $bg-lightgrey;
  padding: 35px 20px 15px 20px;
  display: flex;
  flex-direction: column;
}

.footer__logo {
  border-bottom: 1px solid #d9d9d9;
}

.footer__social {
  border-bottom: 1px solid #d9d9d9;
}

.social__list {
  display: flex;
  flex-direction: row;

  @include list-reset;
}

.footer__copyright {
  @include catalog-content;
  font-size: 16px;
  line-height: 16px;
}

@media (min-width: $tablet-width) {
  .footer__wrapper {
    flex-direction: row;
    justify-content: space-between;
  }

  .footer__logo {
    border-bottom: none;
  }

  .footer__social {
    border-bottom: none;
  }
}
