.footer__wrapper {
  background-color: $bg-lightgrey;
  padding: 35px 20px 15px 20px;
}

.footer__logo {
  border-bottom: 1px solid #d9d9d9;
}

.footer__social {
  border-bottom: 1px solid #d9d9d9;
}

.footer__copyright {
  font-family: "Arial", sans-serif;
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: none;
  color: #444444;
}
