.form {
  margin: 26px 0;
}

.form__text {
  @include fonts-index;
  font-family: "Oswald", sans-serif;
  text-transform: uppercase;
  color: #111111;
  margin: 0;
  margin-top: 15px;
  margin-left: 20px;
  margin-right: 20px;
  margin-bottom: 30px;
  padding-right: 50px;
}

.form__wrapper--border{
  border-bottom: 1px solid #ededed;
  border-top: 1px solid #ededed;
  padding-bottom: 9px;
}

.form__container {
  margin-left: 20px;
  margin-right: 20px;
}

.form__item {
  display: flex;
  flex-direction: column;
  @include form;
  border: none;
  margin-left: 20px;
  margin-right: 20px;
  padding: 0;
  padding-bottom: 18px;
}

.form__list {
  display: flex;
  max-width: 100%;
  margin: 0;
  margin-bottom: 6px;
  margin-top: 9px;
  align-items: center;

}

.form__list div {
  margin-right: 20px;

}

.form__list--name div {
  margin-right: 12px;
}

.form__option {
  width: 100%;
  padding-left: 0;
  padding-top: 12px;
  padding-bottom: 12px;
  padding-left: 16px;
  @include form;
}

.form__box {
  box-sizing: content-box;
  width: 100%;
}

.form__point {
  @include list-reset;
  margin-top: 25px;
  padding-left: 46px;
  position: relative;
}

.form__point::before {
  position: absolute;
  content: ("");
  width: 28px;
  height: 28px;
  border-radius: 50%;
  background: #ffffff;
  top: -6px;
  left: 0;
  border: 1px solid #d9d9d9;
}

.form__radio-btn[type="radio"]:checked+label::after {
 display: block;
 position: absolute;
 content: ("");
 width: 12px;
 height: 12px;
 border-radius: 50%;
 background: $bg-green;
 top: 4px;
 left: 9px;
}

.form__info {
  position: relative;
  @include catalog-adds;
  @include list-reset;
  margin-top: 28px;
}

.form__info::after {
  position: absolute;
  content: ("");
  top: 57%;
  width: 100vw;
  height: 3px;
  margin-top: -14px;
  margin-left: 42px;
  background: $bg-green;
  z-index: -1;
}

.form__contact-wrapper {
  margin-top: 34px;
}

.form__contact {
  display: flex;
  align-items: center;
  margin-bottom: 14px;
}

.form__contact label {
  margin-right: 10px;
}

.form__option--contact {
  border: none;
  flex: 1;
  padding-left: 0;
}

.form__contact-container {
  border: 1px solid #e6e6e6;
  display: flex;
  align-items: center;
  flex: 1;
  padding-left: 15px;
  padding-right: 15px;
}

.form__contact-container svg{
  flex-shrink: 0;
}

.form__info--comment {
  margin-top: -2px;
  margin-bottom: 34px;
}

.form__info--comment::after {
  margin-top: 0px;
  margin-left: 17px;
}

.form__textarea {
  width: 94%;
  border: 1px solid #e6e6e6;
  height: 140px;
  font-family: "Oswald", "Arial", sans-serif;
  text-transform: uppercase;
  font-size: 16px;
  padding-top: 9px;
  padding-left: 13px;
}

.form__info--add {
  margin-top: 8px;
}

.form__info--add::after {
  margin-top: 0px;
  margin-left: 23px;
}

.form__checkbox-wrapper {
  margin-top: 40px;
  margin-bottom: -3px;
  display: flex;
  flex-direction: column;
}

.form__checkbox-label {
  padding-left: 46px;
  margin-bottom: 25px;
  position: relative;
}

.form__checkbox-label::before {
  position: absolute;
  content: ("");
  width: 28px;
  height: 28px;
  background: #ffffff;
  top: -6px;
  left: 0;
  border: 1px solid #d9d9d9;
}

.form__option--checkbox[type="checkbox"]:checked+label::after {
 display: block;
 position: absolute;
 content: ("");
 width: 11px;
 height: 21px;
 border-right: 1px solid #68b738;
 border-bottom: 1px solid #68b738;
 transform: translateY(-50%) rotate(45deg);
 top: 6px;
 left: 9px;
}

.form__container {
  margin-bottom: 33px;
}

.form__btn {
  margin-bottom: 20px;
}

.form__add {
  @include catalog-content;
  line-height: 16px;
  margin-left: 60px;
}

@media (min-width: $tablet-width) {
 .form {
   margin: 54px 0;
 }

 .form__text {
   font-size: 20px;
   line-height: 30px;
   margin-left: 70px;
   margin-right: 270px;
 }

 .form__item {
   font-size: 20px;
   line-height: 20px;
   margin-left: 70px;
   margin-right: 68px;
   margin-top: 58px;
 }

 .form__list {
   margin-top: 7px;
   margin-bottom: 14px;
 }

 .form__option {
   font-size: 20px;
   line-height: 20px;
   padding-top: 14px;
   padding-bottom: 16px;
   padding-left: 18px;
 }

 .form__list div {
   margin-right: 19px;
 }

 .form__list--name div {
   margin-right: 17px;
 }

 .form__wrapper--border {
   margin: 0;
   margin: 39px 67px 39px 70px;
   border: none;
   border: 1px solid #ededed;
 }

 .form__item--program {
   margin: 0;
   margin-top: 9px;
   margin-left: 30px;
 }

 .form__point {
   margin-top: 25px;
   margin-bottom: 8px;
   padding-left: 57px;
 }

 .form__point::before {
   width: 40px;
   height: 40px;
   top: -11px;
   left: -3px;
 }

 .form__radio-btn[type="radio"]:checked + label::after {
   width: 17px;
   height: 17px;
   top: 2px;
   left: 10px;
 }

 .form__info {
   font-size: 36px;
   line-height: 36px;
   margin-top: 16px;
 }

 .form__info::after {
   top: 100%;
   margin-left: 35px;
 }

 .form__info::before {
   position: absolute;
   content: ("");
   top: 100%;
   width: 30px;
   height: 3px;
   margin-top: -14px;
   margin-left: -70px;
   background: $bg-green;
   z-index: -1;
 }

 .form__contact-wrapper {
   margin-top: 76px;
 }

 .form__contact {
   margin-bottom: 20px;
 }

 .form__contact label {
   margin-right:17px;
 }

 .form__contact-container {
   padding-left: 2px;
 }

 .form__item--comment {
   margin-top: 10px;
   position: relative;
 }

 .form__info--comment {
   margin-bottom: 75px;
 }

 .form__info--comment::after,
 .form__info--add::after {
   top: 65%;
 }

 .form__textarea {
   width: 97%;
   height: 164px;
   font-size: 20px;
   line-height: 30px;
   padding-top: 10px;
   padding-left: 18px;
 }

 .form__item--add {
   margin-top:  29px;
 }

 .form__checkbox-wrapper {
   flex-direction: row;
   flex-wrap: wrap;
   justify-content: space-between;
   margin-top: 66px;
 }

 .form__checkbox-label {
   width: 36%;
   padding-left: 57px;
   margin-bottom: 52px;
 }

 .form__checkbox-label::before {
   width: 38px;
   height: 38px;
   top: -8px;
 }

 .form__option--checkbox[type="checkbox"]:checked+label::after {
   left: 15px;
 }

 .form__container {
   display: flex;
   margin-left: 70px;
 }

 .form__btn {
   width: 42%;
   font-size: 20px;
   line-height: 20px;
   padding: 14px 0;
 }

 .form__add {
   font-size: 16px;
   padding-top: 14px;
 }
}

@media (min-width: $desktop-width) {
  .form__data-container {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }

  .form__item {
    margin: 0;
    margin-top: 30px;
    padding-bottom: 0px;
  }

  .form__wrapper--border {
    margin: 0;
    margin-top: 37px;
    margin-bottom: 16px;
  }

  .form__item--program {
    margin: 0;
    margin-top: 9px;
    margin-left: 30px;
    padding-bottom: 0px;
  }

  .form__text {
    margin-left: 40px;
    margin-right: 0;
    width: 323px;
  }

  .form__data-container  .form__wrapper {
    width: 570px;
  }

  .form__wrapper {
    margin-left: 40px;
    margin-right: 40px;
  }

  .form__point {
    padding-left: 57px;
  }

  .form__contact-wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 73px;
  }

  .form__contact {
    width: 570px;
  }

  .form__textarea {
    width: 1200px;
  }

  .form__item--add {
    margin-top: 48px;
  }

  .form__checkbox-label {
    width: 187px;
  }

  .form__container {
    margin-left: 40px;
    margin-top: 26px;
  }

  .form__btn {
    width: 569px;
  }

  .form__add {
    margin-left: 82px;
  }


}
