.header {
  position: relative;
}

.header__wrapper {
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header__container {
  display: flex;
  justify-content: space-between;
  padding: 11px 20px 13px 20px;
  border-bottom: 1px solid #e6e6e6;
}

.header__logo {
  display: block;
  width: 100%;
  max-width: 190px;
}

  @media (min-width: $mobile-width) and (max-width: $max-mobile-width) {
    .header__container {
      position: relative;
    }

    .header__container::after {
      position: absolute;
      content: ("");
      top: 23px;
      right: 23px;
      background-image: url("../img/icon-close.svg");
      width: 18px;
      height: 18px;
    }
  }

@media (min-width: $tablet-width) {
  .header__container {
    border-bottom: none;
  }

  @media (min-width: $tablet-width) and (max-width: $max-tablet-width) {
  .header {
    //background-color: #ffffff;
    //margin-top: 25px;
  }

  .header__wrapper {
    width: 92%;
    margin: 0;
    margin-top: 25px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    box-sizing: border-box;
  }

  .header__container {
    padding: 0;
  }

  .header__logo {
    max-width: 174px;
    width: 174px;
    height: auto;

  }
}
}

@media (min-width: $desktop-width) {
  .header {
    color: #ffffff;
    padding-top: 50px;
  }

  .header__container{
    padding: 0;
  }

  .header__wrapper {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header--background::after {
    display: block;
    position: absolute;
    content: "";
    width: 50%;
    min-height: 696px;
    top: 0;
    right: 0;
    left: inherit;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-color: $bg-green;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -2;
  }

  .header__logo {
    max-width: 202px;
    width: 202px;
    height: auto;

  }
}
