.header {
  position: relative;
}

.header__wrapper {
  width: 280px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
}

.header__container {
  display: flex;
  justify-content: space-between;
}

@media (min-width: $mobile-width) and (max-width: 767px) {
  .header {
    background-color: #ffffff;
  }

  .header--background::after {
    content: "";
    position: absolute;
    left: 0;
    min-height: 306px;
    width: 100%;
    background-image: url("../img/index-background-mobile@1x.jpg");
    background-color: $bg-green;
    background-position: bottom;
    background-repeat: no-repeat;
    z-index: -1;
  }
}

@media (min-width: $tablet-width) and (max-width: 1299px) {
  .header {
    background-color: #ffffff;
    margin-top: 25px;
  }

  .header__wrapper {
    width: 708px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
}

@media (min-width: $desktop-width) {
  .header {
    color: #ffffff;
    padding-top: 50px;
  }

  .header__wrapper {
    width: 1220px;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }

  .header--background::after {
    display: block;
    position: absolute;
    content: "";
    width: 50%;
    min-height: 601px;
    top: 0;
    right: 0;
    left: inherit;
    background-image: url("../img/index-background-desktop@1x.jpg");
    background-color: $bg-green;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }
}
