.map {
  background-color: #ffffff;
}

.map__image {
  background-color: $bg-lightgrey;
  background-image: url("../img/bg-map-mobile@1x.png");
  background-repeat: no-repeat;
  width: 320px;
  height: 366px;
}

@media (min-width: $tablet-width) {
  .map {
    position: relative;
  }

  .map__image {
    background-image: url("../img/bg-map-tablet@1x.png");
    width: 768px;
    height: 407px;
    background-color: $bg-lightgrey;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
  }
}

@media (min-width: $desktop-width) {
  .map {
    position: relative;
  }

  .map__image {
    background-image: url("../img/bg-map-desktop@1x.png");
    width: 1434px;
    height: 403px;
    background-color: $bg-lightgrey;
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    z-index: -1;
  }

}
