@mixin fonts-index {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 18px;
  text-transform: none;
}

@mixin title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  line-height: 60px;
  color: #111111;
  text-transform: none;
}

@mixin catalog-title {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 20px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
}

@mixin form {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  line-height: 18px;
  font-weight: 400;
  text-transform: uppercase;
  color: #222222;
}

@mixin catalog-adds {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  font-weight: 400;
  text-transform: none;
  color: #111111;
}


@mixin catalog-text {
  font-family: "Arial", sans-serif;
  font-size: 12px;
  line-height: 16px;
  font-weight: 400;
  color: #444444;
  text-transform: none;
}

@mixin catalog-content {
  font-family: "Arial", sans-serif;
  font-size: 14px;
  line-height: 14px;
  font-weight: 400;
  text-transform: none;
}

@mixin list-reset {
  margin: 0;
  padding: 0;
  list-style: none;
}
