.products {
  display: flex;
  flex-direction: column;
  margin-left: -20px;
  margin-right: -20px;
}

.products__item {
  margin: 0;
  margin-bottom: 23px;
  border-top: 1px solid #ededed;
}

.products__item-wrapper{
  padding: 0 20px;
}
.products__title {
  @include catalog-title;
  color: #111111;
  width: 60%;
  margin-top: 22px;
  margin-bottom: 10px;
}

.products__info {
  @include catalog-text;
  width: 100%;
  padding: 0;
}

.products__text {
  @include catalog-text;
}

.products__container {
  display: flex;
  flex-direction: row;
}

.products__wrapper {
  display: flex;
  flex-direction: column;
  width: 50%;
}

.products__image {
  width: 50%;
}

.products__capacity,
.products__text,
.products__price {
  text-align: left;
}

.products__weight,
.products__type,
.products__cost {
  text-align: right;
}

.products__item--more {
  border-bottom: 1px solid #ededed;
  padding-bottom: 27px;
}

.products__wrapper--more {
  width: 100%;
  text-align: center;
}

.products__container--more {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.products__title--more {
  width: 100%;
  margin-bottom: -5px;
}

.products__text--more {
  text-align: center;
  margin-bottom: 22px;
}

.products__image--plus {
  background-image: url("../img/icon-plus-mobile.svg");
  width: 30px;
  height: 30px;
  margin-top: 25px;
}

.products__btn--show {
  background-color: $bg-lightgrey;
  color: #444444;
}

@media (min-width: $tablet-width) {
  .products {
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: -30px;
    margin-right: -30px;
    margin-bottom: -56px;
  }

  .products__item {
    width: 42%;
    background-color: $bg-lightgrey;
    margin: 24px 30px;
    margin-bottom: 116px;
    padding-top: 127px;
    padding-bottom: 40px;
  }

  .products__item-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0 36px;
  }

  .products__container {
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 100%;
  }

  .products__wrapper {
    align-items: center;
    width: 100%;
    margin: 0 auto;
  }

  .products__title {
    font-size: 20px;
    margin-top: 37px;
    margin-left: 3px;
    margin-bottom: 19px;
    width: 63%;
    text-align: center;
  }

  .products__image {
    position: absolute;
    width: 324px;
    min-height: 213px;
    top: -210px;
  }

  @media screen and (-ms-high-contrast: active), (-ms-high-contrast: none) {
  .products__image {
    left: 30px;
  }
}

  .products__image--little {
    top:-174px;
  }

  .program__info,
  .program__text {
    font-size: 16px;
  }

  .products__info {
    margin-bottom: 33px;
  }

  .products__info td {
    font-size: 16px;
    border-bottom: 1px solid #cdcdcd;
    padding-top: 6px;
    padding-bottom: 7px;
  }

  .products__item--more {
    background-color: #ffffff;
    border: 1px solid #ededed;
  }

  .products__title--more {
    margin: 0;
    margin-bottom: 10px;
    margin-top: 33px;
  }

  .products__text--more {
    font-size: 16px;
    line-height: 18px;
    width: 67%;
    margin-bottom: 85px;
  }

  .products__image--plus {
    width: 60px;
    height: 60px;
    min-height: 60px;
    background-repeat: no-repeat;
    margin: 0;
    margin-top: 15px;
    margin-bottom: 49px;
    top: -98px;
  }
}

@media (min-width: $desktop-width) {
  .products {
    margin-left: -40px;
    margin-right: -40px;
  }

  .products__title {
    width: 130px;
  }

  .products__title--more {
    width: 140px;
    margin-top: 37px;
  }

  .products__text--more {
    width: 100%;
  }

  .products__item {
    width: 244px;
    margin: 25px 40px;
    margin-bottom: 116px;
  }

  .products__image {
    left: -35px;
  }

  .products__image--plus {
    width: 70px;
    height: 70px;
    left: 58px;
    top: -93px;
  }

  .products__image--little {
    left:-36px;
    top: -173px;
  }

  .products__container {
    width: 176px;
  }

  .products__info {
    margin-bottom: 30px;
  }

  .products__btn {
    padding: 12px 0;
  }
}
