.program {
  display: flex;
  flex-direction: column;
}

.program__wrapper {
  background-color: $bg-lightgrey;
  margin: 20px;
  padding: 20px;
}

.program__title {
  font-size: 24px;
  line-height: 37.02px;
  font-weight: 400;
  color: #111111;
  text-transform: uppercase;
}

.program__text {
  @include fonts-index;
}

.program__link {
  font-size: 16px;
  line-height: 16px;
  font-weight: 400;
  text-transform: uppercase;
  color: #111111;
  list-style: none;
}

@media (min-width: $tablet-width) {
  .program__title {
    font-size: 36px;
  }

  .program__text {
    font-size: 16px;
    line-height: 24px;
  }

  .program__link {
    font-size: 20px;
    line-height: 20px;
  }
}

@media (min-width: $desktop-width) {
  .program {
    flex-direction: row;
    margin-top: 40px;
  }
}
