.ways {
  margin: 40px 20px;
}

.ways__wrapper {
  display: flex;
  flex-direction: column;
}

.ways__title {
  @include title;
  margin-left: 20px;
}

.ways__text {
  @include fonts-index;
  display: flex;
  flex-direction: row;
  margin-bottom: 20px;
}

.ways__text p{
  flex: 1;
  margin: 0;
}

.ways__leaf {
  background-image: url("../img/advantage-leaf@1x.png");
  @include ways-image;
}

.ways__powder {
  background-image: url("../img/advantage-powder@1x.png");
  @include ways-image;
}

.ways__surrogate {
  background-image: url("../img/advantage-dining@1x.png");
  @include ways-image;
}

.ways__changes {
  background-image: url("../img/advantage-clock@1x.png");
  @include ways-image;
}

@media (min-width: $tablet-width) {
  .ways__wrapper {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 50px 30px;
  }

  .ways__title {
    font-size: 60px;
    margin-left: 3%;
  }

  .ways__text {
    position: relative;
    flex-direction: column;
    width: 44%;
    font-size: 16px;
    line-height: 24px;
    margin: 3%;
    counter-increment: ways-num;
    z-index: 0;
  }

  .ways__leaf,
  .ways__powder,
  .ways__changes,
  .ways__surrogate {
    width: 80px;
    height: 80px;
    margin-bottom: 40px;
  }
.ways__text::after {
    content: counter(ways-num);
    position: absolute;
    left: 120px;
    top: -38px;
    font-size: 260px;
    line-height: 1;
    font-family: "Oswald", "Arial", sans-serif;
    color: $bg-lightgrey;
    z-index: -1;
}
}

@media (min-width: $desktop-width) {
  .ways__text {
    width: 19%;
  }
}
